body{
  height: 100vh;
  position: relative;
  background-color: #484d4f;
}
.container {
  width: 500px;
  height: 500px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #b2bec3;
  text-align: center;
}
.form-heading {
  font-size: 40px;
  font-weight: bold;
}
.form-group {
  margin-top: 20px;
}
.form-label {
  font-size: 20px;
}
.form-input {
  font-size: 18px;
  padding: 5px;
}
.total-cost {
  font-size: 30px;
  font-weight: bold;
}